#mainContacto{
    @include flexbox(row, space-around, center, row wrap);
    position: relative;
    top: 5px;
    div{
        @include flexbox(row, space-around, center, row wrap);
        height: fit-content;
        width: 80vw;
        padding: 20px;
        form{
            fieldset{
                legend{
                    padding: 20px;
                }
                div{
                    width: fit-content;
                    height: fit-content;
                    padding: 10px;
                }
            }
        }
    }
}

.estiloSecciones {
    color: aliceblue;
    font-size: 26px;
    padding: 6px;
    position: relative;
    left: 5px;
}

.estiloSecciones--modificado {
    @extend .estiloSecciones;
    font-size: 30px;
}
