.mainContacto{
    @include flexbox(row, space-evenly, center, row wrap);
    padding: 10px;
    width: 98vw;
    div{
        background-color: rgba(245, 245, 220, 0.068);
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        @include flexbox(row, space-evenly, center, column wrap);
        text-align: center;
        height: fit-content;
        width: fit-content;
        padding: 30px;
        form{
            fieldset{
                legend{
                    padding: 20px;
                }
                div{
                    width: fit-content;
                    height: fit-content;
                    padding: 10px;
                }
            }
        }
    }
}

.estiloSecciones {
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
}

.estiloSecciones--modificado {
    @extend .estiloSecciones;
    font-size: 25px;
}
