.mainEventos{
    @include flexbox(column, space-evenly, center, column wrap);
    padding: 10px;
    width: 98vw;

    div{
        text-align: center;
        padding: 10px;
        height: fit-content;
        width: fit-content;
        margin: 8px;
        nav{
            ul{
                li{
                    list-style: none;
                    border-style: solid;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 10px;
                    border-color: rgba(245, 245, 220, 0.459);
                    a{
                        text-decoration: none;
                        color: beige;
                        font-weight: 600;
                        font-size: 22px;
                    }
                }
            }
        }
    }
    section{
        background-color: rgba(31, 31, 31, 0.575);
        height: 90vh;
        width: 80%;
        padding: 8px;
        @include flexbox(column, space-evenly, center, column wrap);
        text-align: center;
        margin: 10px;
        border-radius: 120px;
        div{
            @include flexbox(column, space-evenly, center, column wrap);
            width: 95%;
            height: 45%;
            h2{
                font-style:inherit;
                font-weight: 800;
                color: beige;
                font-size: 50px;
            }
            p{
                color: beige;
            }
        }
    }
}

#villaAdelina{
    background-image: url(../assets/Imagenes/skatepark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 700px;
}

#sanFernando{
    background-image: url(../assets/Imagenes/sanFernando.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 700px;
}