* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgb(59, 59, 52),black);
    overflow: scroll;
    display: grid;
    grid-template-rows: .3fr 1.5fr 1.5fr .3fr;
    grid-template-columns: .5fr repeat(3, 1fr);
    grid-template-areas: "header header header header" /*EL PUNTO HACE ESPACIO VACIO*/
                         "nav main main main"
                         "nav main main main"
                         "footer footer footer footer";
    grid-column-gap: 1em;
    grid-row-gap: .5em;
}

#segundoBody{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgb(59, 59, 52),black);
    overflow: scroll;
    display: grid;
    grid-template-rows: .3fr .5fr 2fr .3fr;
    grid-template-columns: .5fr repeat(3, 1fr);
    grid-template-areas: "header header header header" /*EL PUNTO HACE ESPACIO VACIO*/
                         "nav nav nav nav"
                         "main main main main"
                         "footer footer footer footer";
    grid-column-gap: 1em;
    grid-row-gap: .5em;
}

header{
    grid-area: header;
    @include flexbox(row, space-around, center, row wrap);
    div{
        img{
            margin: 6px;
            width: 70px;
            height: 70px;
            animation-name: animacion_logo;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            /*animation-fill-mode: forwards; (Lo deja quieto al final de la animación) */
            @keyframes animacion_logo{
                to {  
                }
            
                from {
                    transform: rotateY(360deg);
                }
            }
        }
    }
    div{
        audio{
            margin-top: 10px;
        }
    }
    div{
        a{
            text-decoration: none;
            color: black;    
        }
    }
}

#ingresar{
    background-color: rgb(218, 218, 218);
    width: fit-content;
    height: fit-content;
    margin-top: 28px;
    font-weight: bolder;
    border: solid 3px black;
    padding: 5px;

    &:hover{
        transform: scale(1.2);
        transition: transform 2s;
    }
}

main{
    grid-area: main;
    @include flexbox(row, space-evenly, center, row wrap);
    position: relative;
    top: 20px;
    nav{
        width: 90%;
        position: relative;
        left: 1px;
        list-style-type: none;
        a{
            text-decoration: none;
            position: absolute;
            width: 90%;
            height: 85px;
            color: black;
            left: 48px;
            top: 10px;
            font-weight: bolder;
            font-size: 20px; 
        }
    }
}

#skateshop{
    background-image: url(../assets/Imagenes/Shop.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    height: 110px;
}

#team{
    background-image: url(../assets/Imagenes/Team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);;
    height: 110px;
}

#eventos{
    background-image: url(../assets/Imagenes/Eventos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    height: 110px;
}

#contacto{
    background-image: url(../assets/Imagenes/contacto.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    height: 110px;
}

#menuPrincipal{
    grid-area: nav;
    @include flexbox(column, space-around, center, column wrap);
    ul{
        li{
            margin-bottom: 45px;
            list-style-type: none;
            &:hover{
                transform: translateX(10px) scale(1.1);
                transition: transform 2s;
            }
            a{
                text-decoration: none;
                font-size: 23px;
                font-weight: bold;
                margin: 5px;
                padding: 8px;
                border: solid black;
                background-color: rgb(218, 218, 218);
                color: black;
            }
        }
    }
}

#menuPrincipalDos{
    grid-area: nav;
    @include flexbox(column, space-evenly, center, row wrap);
    ul{
        @include flexbox(row, space-evenly, center, row wrap);
        li{ 
            list-style-type: none;
            margin-right: 20px;
            &:hover{
                transform: translateY(10px) translateX(10px) scale(1.1);
                transition: transform 2s;
            }
            a{
                text-decoration: none;
                font-size: 22px;
                font-weight: bold;
                margin: 5px;
                padding: 4px;
                border: solid black;
                background-color: rgb(218, 218, 218);
                color: black;

            }
        }
    }
}

footer{
    grid-area: footer;
    @include flexbox(column, space-around, center, row wrap);
    div{
        img{
            width: 60px;
            height: 60px;
            margin: 10px;
        }
    }
    nav{
        margin: 10px;
        ul{
            li{
                list-style-type: none;
                color: whitesmoke;
            }
            a{
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
}