@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexbox($orientacion, $justify, $aling, $flexflow){
    display: flex;
    flex-direction: $orientacion;
    justify-content: $justify;
    align-items: $aling;
    flex-flow: $flexflow;
}

@mixin media-query($vista) {

    @if $vista == laptop{
        @media only screen and (max-width: 1440px){
            
            
        }
    }

    @else if $vista == tablet{
        @media only screen and (max-width: 768px){
            
            .navPrincipal{
                height: 4vh;
            }

            .mainPrincipal{
                section{
                    height: 22vh;
                }
            }

            footer{
                height: 5vh;
            }

            .mainTeam{
                section{
                    height: 50vh;
                }
            }

            .mainShop{
                section{
                    height: 30vh;
                    div{
                        a{
                            @include flexbox(column, space-evenly, center, column wrap);
                            width: 50%;
                            height: 50%;
                        }
                    }
                }
            }

            .mainEventos{

                section{
                    height: 50vh;
                }
            }

            #villaAdelina{
                height: 200px;
                width: 550px;
            }
            #sanFernando{
                height: 200px;
                width: 550px;
            }

        }
    }
    @else if $vista == mobile{
        @media only screen and (max-width: 468px){
        
            header div audio{
                display: none;
            }
            
            .mainEventos{
                section{
                    div{
                        @include flexbox(column, space-evenly, center, row wrap);
                    }
                }
            }

            #villaAdelina{
                height: 200px;
                width: 300px;
            }
            #sanFernando{
                height: 200px;
                width: 300px;
            }
            
        }
    }
}