.mainShop{
    @include flexbox(column, space-evenly, center, column wrap);
    padding: 10px;
    width: 98vw;
    section{
        background-color: rgba(31, 31, 31, 0.575);
        @include flexbox(column, space-evenly, center, column wrap);
        width: 82vw;
        height: 60vh;
        margin-bottom: 10px;
        border-radius: 90px;
        div{
            @include flexbox(column, space-evenly, center, column wrap);
            text-align: center;
            padding: 10px;
            width: 95%;
            height: 60%;
            a{
                @include flexbox(row, space-evenly, center, row wrap);
                width: 23%;
                height: 95%; 
                position: relative;
                bottom: 15px;
            }
        }
    }
}

#estiloTitulo{
    height: 15%;
    font-style: italic;
    font-weight: 400;
    color: antiquewhite;
}

#aSkate{
    width: 80%;
}