#mainTeam{
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    position: relative;
    top: 20px;
    nav{
        width: 90%;
        height: fit-content;
        padding: 10px;
        ul{
            li{
                list-style-type: circle;
                color: whitesmoke;
                padding: 3px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: whitesmoke;
                }
            }
        }
    }
    div{
        width: 95%;
        height: fit-content;
        padding: 50px;
    }
}

.filipeMota {
    img{
        height: 180px;
        width: 200px;
        padding: 10px;
        position: relative;
        left: 40%;
    }
    h2{
        color: lightgray;
        width: 80%;
        padding: 10px;
        height: fit-content;
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        position: relative;
        top: 15px;
        left: 10%;
    }
    p{
        padding: 30px;
        position: relative;
        left: 10%;
        width: 80%;
        font-size: 20px;
        color: whitesmoke; 
    }
    iframe{
        position: relative;
        padding: 5px;
        left: 25%; 
    }
}


.milesSilva {
    img{
        height: 180px;
        width: 200px;
        padding: 10px;
        position: relative;
        left: 40%;
    }
    h2{
        color: lightgray;
        width: 80%;
        padding: 10px;
        height: fit-content;
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        position: relative;
        left: 10%; 
    }
    p{
        padding: 30px;
        position: relative;
        left: 10%;
        width: 80%;
        font-size: 20px;
        color: whitesmoke;
    }
    iframe{
        padding: 5px;
        position: relative;
        left: 25%;
    }
}